body {
  font-family: "Offside", cursive;
  color: rgb(113, 53, 148);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

.daily-icon {
  font-size: 3rem;
}
.card-whole-app {
  background: black;
  max-width: 850px;
  max-height: 550px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 15px 0 black;
}
.card-body {
  padding: 0;
}

.form-control {
  background-color: black;
  color: white;
  border-color: rgb(113, 53, 148);
}

.btn-primary {
  background-color: rgb(113, 53, 148);
  border-color: rgb(113, 53, 148);
  position: relative;
  left: 60px;
  top: 20px;
}

.btn-primary:hover {
  background-color: black;
  border-color: rgb(113, 53, 148);
}

a.name-link {
  text-decoration: none;
  color: rgb(113, 53, 148);
  font-size: 16px;
 }

.my-name {
  color: rgb(113, 53, 148);
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
  color: rgb(113, 53, 148);
  font-size: 25px;
}

a:hover {
  color: rgb(113, 53, 148);
}

.weather-bar {
  margin: 0;
  display: inline;
  font-size: 25px;
}

#current-city {
  margin: 0;
}

.city-info {
  position: relative;
  top: 60px;
  left: 20px;
}

.large-temp {
  font-size: 450%;
  position: relative;
  left: -5px;
  top: -20px;
}

.weather-by-the-day {
  font-size: 130%;
  position: relative;
  top: -50px;
  left: 70px;
}

.today-header {
  font-size: 35px;
}

.today-column {
  padding: 20px 100px;
  position: relative;
  right: -30px;
  top: 60px;
}

#forecast-day-one {
  position:relative;
  left: 20px;
}

#forecast-day-two {
  position:relative;
  left: 40px;
}

#forecast-day-three {
  position:relative;
  left: 60px;
}

#forecast-day-four {
  position:relative;
  left: 80px;
}

#forecast-day-five {
  position:relative;
  left: 100px;
}

#forecast-day-six {
  position:relative;
  left: 120px;
}

#forecast-day-seven {
  position: relative;
  left: 140px;
}

#city-input {
  position: relative;
  left: 20px;
  top: 20px;
}