body {
  font-family: "Offside", cursive;
  color: #6d44b1;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

.daily-icon {
  font-size: 3rem;
}
.card-whole-app {
  background: black;
  max-width: 850px;
  max-height: 550px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 15px 0 black;
}
.card-body {
  padding: 0;
}

.form-control {
  background-color: black;
  color: white;
  border-color: #6d44b1;
}

.btn-primary {
  background-color: #6d44b1;
  border-color: #6d44b1;
  position: relative;
  left: 60px;
  top: 20px;
}

.btn-primary:hover {
  background-color: black;
  border-color: #6d44b1;
}

a.name-link {
  text-decoration: none;
  color: #6d44b1;
  font-size: 16px;
 }

.my-name {
  color: #6d44b1;
  text-align: center;
  padding: 20px;
  position: relative;
  top: -55px
}

a {
  text-decoration: none;
  color: #6d44b1;
  font-size: 25px;
}

a:hover {
  color: #6d44b1;
}

.weather-bar {
  margin: 0;
  display: inline;
  font-size: 25px;
}

#current-city {
  margin: 0;
  font-weight: bold;
}

.city-info {
  position: relative;
  top: 60px;
  left: 20px;
}

.large-temp {
  font-size: 450%;
  position: relative;
  left: -5px;
  top: -20px;
}

.weather-by-the-day {
  font-size: 60%;
  position: relative;
  top: -90px;
  left: 70px;
}

.today-header {
  font-size: 35px;
  font-weight: bold;
}

.today-column {
  padding: 20px 100px;
  position: relative;
  right: -30px;
  top: 60px;
}

#weather-forecast {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

#city-input {
  position: relative;
  left: 20px;
  top: 20px;
}

#unit-conversion-buttons {
  font-weight: bold;
  font-size: 20px;
}

#day-time {
  font-weight: bold;
}

.weather-forecast-weekday {
  font-weight: bold;
}

.weather-forecast-max {
  font-weight: bold;
  font-size: 15px;
}

.weather-forcast-min {
  font-size: 15px;
}

#icon {
  position: relative;
  right: -30px;
  
}